alias code='cd ~/Code'
alias source='source ~/.bash_profile'
alias profile='sublime ~/.bash_profile'
alias aliases='sublime ~/.aliases'
alias ..='cd ..'
alias ...='cd ../..'
alias ~='cd ~/'
alias lsa='ls -a'
alias lsal='ls -al'
alias hosts='sudo vim /etc/hosts'
